* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
   background: #ffffff;
    color: #1e293b;
}

html, body {
    height: 100%;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.logout {
    color: #ef4444;
    text-decoration: none;
    font-size: 14px;
	
}

/* ===== SIDEBAR ESCURA ===== */
.sidebar {
    width: 240px;
    background: linear-gradient(135deg, #2b2f4b, #1f2235);
    display: flex;
    flex-direction: column;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #e0e6ed;
	
	
	
}


/* IMAGEM DA LOGO */
.logo-floating img {
    width: 100px;                       
    height: auto;
    margin: 0px;
	
	
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 1px; 
}

.sidebar nav a {
    text-decoration: none;
    color: #cbd5e1;
    margin-bottom: 10px;
    transition: 0.3s;
	padding: 14px 16px;
	border-radius: 10px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
	background: rgba(255,255,255,0.08);
	  padding-left: 25px;
	  transition: 0.3s;
}

/* ===== MAIN AREA CLARA ===== */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* ===== TOPBAR CLARA ===== */
.topbar {
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid #e2e8f0;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* ===== CONTENT CLARO ===== */
.content {
    padding: 40px;
    background: #f1f5f9;
    overflow-y: auto;
}

/* ===== CARDS ===== */
.cards {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    flex: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h3 {
    font-size: 14px;
    color: #64748b;
    margin-bottom: 10px;
}

.card p {
	font-size: 28px;
	  font-weight: 700;
	  color: #2ecc71;
}

/* ===== GRID DASHBOARD ===== */
.dashboard-row {
    display: grid;
    grid-template-columns: 1fr 2fr; /* gráfico menor, tabela maior */
    gap: 30px;
    margin-top: 40px;
    align-items: start;
}

/* ===== GRÁFICO ===== */
.chart-box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    height: 250px;
	width: 100%;
	
}

.chart-box canvas {
    height: 100% !important;
}

/* ===== TRANSAÇÕES ===== */
.transactions-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: hidden;
}

.transactions-header {
    padding: 18px 25px;
    border-bottom: 1px solid #e5e7eb;
    font-weight: 600;
    font-size: 14px;
}

.transactions-table {
    width: 10%;
    border-collapse: collapse;
}

.transactions-table thead {
    background: #f9fafb;
}

.transactions-table th,
.transactions-table td {
    padding: 10px 40px;
    font-size: 16px;
}

.transactions-table tbody tr {
    border-bottom: 1px solid #f1f5f9;
	
}

.transactions-table tbody tr:hover {
    background: #f9fafb;
}

.btn-view {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
	margin:-10px;
	
}

.btn-view:hover {
    background: #1d4ed8;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 1000px) {
    .dashboard-row {
        grid-template-columns: 1fr;
    }
}